beautifulsoup4==4.8.0
cairocffi==1.0.2
CairoSVG==2.4.0
certifi==2018.8.24
cffi==1.12.3
chardet==3.0.4
cssselect2==0.2.1
cycler==0.10.0
defusedxml==0.5.0
Django==2.1.1
django-cors-headers==2.5.0
django-extensions==2.1.2
django-filter==2.1.0
django-mathfilters==0.4.0
django-modeltranslation==0.13.3
django-paypal==0.5.0
django-wkhtmltopdf==0.2
djangorestframework==3.9.2
html5lib==1.0.1
idna==2.7
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.3
numpy==1.16.2
oauthlib==2.1.0
opencv-python==4.0.0.21
paypal==1.2.5
pdfkit==0.6.1
Pillow==9.0.0
pycparser==2.19
PyJWT==1.6.4
PyMySQL==0.9.3
pyparsing==2.3.1
PyPDF2==1.26.0
Pyphen==0.9.5
pypng==0.0.19
PyQRCode==1.2.1
PySocks==1.6.8
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.5
reportlab==3.5.13
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
soupsieve==1.9.2
tinycss2==1.0.2
twilio==6.25.1
urllib3==1.23
WeasyPrint==48
webencodings==0.5.1
xhtml2pdf==0.2.3
XlsxWriter==1.1.8
